extends /layouts/base.pug

append stylesheets
    link(rel="stylesheet", href="/css/committees.css")

block content
    article
        h1=name

        figure.chair.mugshot
            img(src=`/img/chairpersons/${page.fileSlug}.jpg`, alt="Chairperson mugshot")
            figcaption

                - let email;

                - if (page.fileSlug.startsWith('un')) {
                    - email = `chair.${page.fileSlug.substring(2)}@doonschool.com`;
                - } else {
                    - email = `chair.${page.fileSlug}@doonschool.com`;
                - }

                p #{chairperson}
                    p: a(href=`mailto:${email}`)=email

        | !{content}
