//- TODO: Make this layout extend /layouts/article.pug
extends /layouts/base.pug

append stylesheets
    link(rel="stylesheet", href="/css/committees.css")

block content
    article
        h1=name

        figure.mugshot
            img(src=`/img/chairpersons/${page.fileSlug}.jpg`, alt="Chairperson mugshot")
            figcaption

                - let email;

                - if (page.fileSlug.startsWith('un')) {
                    - email = `chair.${page.fileSlug.substring(2)}@doonschool.com`;
                - } else {
                    - email = `chair.${page.fileSlug}@doonschool.com`;
                - }

                p #{chairperson}
                    p: a(href=`mailto:${email}`)=email

        | !{content}

        h2 Delegate Resources

        //- Yeah, this pattern is terrible. I'm sorry.
        //- I hope to fix this sometime soon. Or get it fixed by Arav. Or someone.
        //- Maybe ls/rs matrices will be available by then.
        if page.fileSlug == 'ls' || page.fileSlug == 'rs'
            p Country matrices will be available soon.

        ul.delegate-resources
            if page.fileSlug != 'ls' && page.fileSlug != 'rs'
                li: a.button(href=`/pdf/country-matrices/${page.fileSlug}.pdf`, target="_blank") Country Matrix

            li: a.button(href="/pdf/rules-of-procedure.pdf", target="_blank") Rules of Procedure
